@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
   
}
:root{
    --main-color:#fff;
    --second-color:#1e3932;
    --primary-color:#0176C3;
    --first-color:#C7EEFF;
    --secondary-color:#63c5da
}

section{
    padding: 50px 10%;
    
}
.about-us{
    /* height: 100vh; */
    width: 100%;
    padding: 100px 0;
   
  }
  .pic{
    height: auto;
    width: 400px;
  }
  .about{
    /* width: 1130px;
    max-width: 85%; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text{
    width: 540px;
  }
  .text h2{
    font-size:24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .text h5{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  span{
    color: #4070f4;
  }
  .text p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .data{
    margin-top: 30px;
  }
*::selection{
    color: #fff;
    background: var(--main-color);
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}
.p-card {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 10px 60px 60px rgba(12, 12, 12, 0.08);
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; /* Center the element on larger screens */
}

.p-card img {
    max-width: 280px;
    width: 32vw;
    height: 270px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 40px;
    border-radius: inherit;
    box-shadow: 0 20px 20px var(--first-color);
}

.p-card .p-content {
    width: 100%;
}

.p-card h2, .p-card h3 {
    font-weight: 400;
}

.p-card p, .p-card label {
    opacity: 0.5;
}

.p-card h2 {
    font-size: 28px;
    margin: 0;
}

.p-card p {
    font-size: 16px;
    margin: 0 0 20px;
}

.p-card .buttons {
    display: inline-flex;
    gap: 10px;
}

.p-card button {
    background: var(--secondary-color);
    color: var(--main-color);
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 6px;
    border-style: none;
}

.p-card button.primary {
    background: var(--secondary-color);
    color: #f9f9f9;
    border: 0;
}

.p-card .stats {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0 0 24px;
    padding: 0;
}

.p-card .stats var {
    display: block;
    font-style: normal;
    font-size: 26px;
}





.logo{
    display: flex;
    align-items: center;  
    padding: 0px 40px;
}
.logo img {
    width: 30%;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    /* background: #63c5da; */
    background:var(--primary-color);
    gap: 1rem;
}
.home-text{
    flex: 1 1 17rem;
}
.home-img{
    flex: 1 1 17rem;
}
.home-img img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: translate(-0px, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }  
}
.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
}
.home-text h1{
    font-size: 3.2rem;
    color:#63c5da;
    font-weight: bolder;
}
.home-text h2{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
    text-transform: lowercase;
    margin: o.5rem 0 1.4rem;
    word-spacing:.1rem;
    line-height: 2rem;
}
.btn{
    padding: 7px 16px;
    /* border: 2px solid var(--second-color); */
    border: 2px solid #63c5da;
    border-radius: 40px;
    color: var(--first-color);
    font-weight: 500;
}
.btn:hover{
    color: #fff;
    background: var(--second-color);
}
.heading{
    text-align: center;
    text-transform: uppercase;
}
.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}
.heading h1{
    font-size: 2rem;
    color: var(--main-color);
}

.card-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:30px;
    gap:30px
}

.card{
    box-shadow:0 0.5px 0.5px 0.5px var(--primary-color);
    background: conic-gradient(from 25deg at 0% 0%, var(--first-color) 0deg 90deg, transparent 60deg 25deg);
    width:100%
   

}
.card-body{
    padding:20px;
    width:100%;
  

}
.card-title{
    color:var(--primary-color);
    font-size:22px;
    text-transform:capitalize
    /* text-align:center;
    width:100% */
}
.card-text{
    font-size:16px;
    color:#555
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--first-color);
    overflow: hidden;
    margin-top: 30px;
    height: 50vh;
    width: 100%;
}
.testimonials {
    background-color: #ffffff;
    width: 100%;
    max-width: 740px;
    margin: 20px;
    box-shadow: 0 6px 5px -7px #cbcbcb;
    border-radius: 3px;
    position: relative;
    opacity: 0;
    animation: showTestimonials 0.32s 0.78s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
    input {
        display: none;
        visibility: hidden;
        height: 0;
        width: 0;
        pointer-events: none;
        opacity: 0;
    }
}
@keyframes showTestimonials {
    to {
        opacity: 1;
    }
}
.testimonials-inner {
    position: relative;
    min-height: 100px;
}
.testimonial {
    padding: 40px 34px 20px 34px;
    margin: 0 30px;
    pointer-events: none;
    position: relative;
    z-index: 1;
}
input[name="testimonial"]:nth-child(1):checked~.testimonials-inner .testimonial:nth-child(1),
input[name="testimonial"]:nth-child(2):checked~.testimonials-inner .testimonial:nth-child(2),
input[name="testimonial"]:nth-child(3):checked~.testimonials-inner .testimonial:nth-child(3),
input[name="testimonial"]:nth-child(4):checked~.testimonials-inner .testimonial:nth-child(4) {
    pointer-events: initial;
}
.testimonial {
    transition: 0.72s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.32s 0.12s;
    opacity: 0;
    transform: translate(0, 38px);
    max-height: 80px;
    animation: hideTestimonial 0s 0.52s forwards;
    position: relative;
}
input[name="testimonial"]:nth-child(1):checked~.testimonials-inner .testimonial:nth-child(1),
input[name="testimonial"]:nth-child(2):checked~.testimonials-inner .testimonial:nth-child(2),
input[name="testimonial"]:nth-child(3):checked~.testimonials-inner .testimonial:nth-child(3),
input[name="testimonial"]:nth-child(4):checked~.testimonials-inner .testimonial:nth-child(4) {
    animation: showTestimonial 0s 0.72s forwards;
    position: absolute;
    opacity: 1;
    transform: none;
    max-height: 500px;
    transition: 0.3s 0.52s, opacity 0.68s 0.92s, max-height 0.82s 0.72s;
}
@keyframes hideTestimonial {
    to {
        position: absolute
    }
}
@keyframes showTestimonial {
    to {
        position: relative
    }
}
input[name="testimonial"]:nth-child(1):checked~.testimonials-bullets label:nth-child(1) span,
input[name="testimonial"]:nth-child(2):checked~.testimonials-bullets label:nth-child(2) span,
input[name="testimonial"]:nth-child(3):checked~.testimonials-bullets label:nth-child(3) span,
input[name="testimonial"]:nth-child(4):checked~.testimonials-bullets label:nth-child(4) span {
    background-color: var(--primary-color);
    transform: scale(1);
    transition: transform 0.36s cubic-bezier(0.26, -0.59, 0.43, 2.48), background-color 0.41s ease-in;
}
.testimonial-photo {
    height: 84px;
    width: 84px;
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.photo-background {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 100%;
    box-shadow: 0 -4px 3px -2px #c3c2c2;
    width: 100%;
    transform: scale(0.87);
    transition: 0.32s;
}
input[name="testimonial"]:nth-child(1):checked~.testimonials-inner .testimonial:nth-child(1) .photo-background,
input[name="testimonial"]:nth-child(2):checked~.testimonials-inner .testimonial:nth-child(2) .photo-background,
input[name="testimonial"]:nth-child(3):checked~.testimonials-inner .testimonial:nth-child(3) .photo-background,
input[name="testimonial"]:nth-child(4):checked~.testimonials-inner .testimonial:nth-child(4) .photo-background {
    transform: scale(1);
    transition: 0s;
}
.photo-author {
    background-size: 68px;
    background-position: center;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: #dbdbdb;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    transform: scale(1.18) translate(0, -6px);
    transition: transform 0.42s ease-out, opacity 0.58s, width 0s 0.6s, height 0s 0.6s;
}
input[name="testimonial"]:nth-child(1):checked~.testimonials-inner .testimonial:nth-child(1) .photo-author,
input[name="testimonial"]:nth-child(2):checked~.testimonials-inner .testimonial:nth-child(2) .photo-author,
input[name="testimonial"]:nth-child(3):checked~.testimonials-inner .testimonial:nth-child(3) .photo-author,
input[name="testimonial"]:nth-child(4):checked~.testimonials-inner .testimonial:nth-child(4) .photo-author {
    transform: scale(1);
    opacity: 1;
    height: 68px;
    width: 68px;
    transition: width 0.26s 1.01s, height 0.26s 1.01s;
}
.testimonial-text {
    color: #606060;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 1px #939393;
    letter-spacing: 0.12px;
    font-style: italic;
    line-height: 26px;
    p {
        margin-bottom: 10px;
    }
}
.testimonial-author {
    font-size: 15px;
    text-align: right;
    color:var(--primary-color);
    letter-spacing: 0.24px;
    text-transform: uppercase;
    text-shadow: 0 0 1px #e3e3e3;
    &:before {
        content: '– ';
    }
}
.testimonials-bullets {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    transform: translate(0, 8px);
    .bullet {
        height: 30px;
        width: 30px;
        cursor: pointer;
        margin: 0 1px;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #ffffff;
            box-shadow: 0 4px 6px -7px #000000;
            span {
                background-color: #c3c3c3;
                height: 14px;
                width: 14px;
                border-radius: 50%;
                transform: scale(0.82);
                transition: 0.72s;
            }
        }
        &:hover span {
            background-color: var(--first-color);
        }
    }
}
.testimonials-arrows {
    height: 100%;
    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        position: absolute;
        top: calc(50% - 25px);
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            &:before {
                font-size: 32px;
                font-family: monospace, sans-serif;
                font-weight: 600;
                color: #c3c3c3;
                transition: color 0.21s ease-in;
            }
        }
        &:hover span:before {
            color: #444444;
            transition: color 0.17s ease-out;
        }
        label {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
    }
    .arrow-left {
        left: -20px;
        span {
            box-shadow: 40px 0 20px 20px #ffffff, -5px 0 30px 0px #e1e1e1;
            &:before {
                content: '<';
            }
        }
    }
    .arrow-right {
        right: -20px;
        span {
            box-shadow: -40px 0 20px 20px #ffffff, 5px 0 30px 0px #e1e1e1;
            &:before {
                content: '>';
            }
        }
    }
}
input[name="testimonial"]:nth-child(1):checked~.testimonials-arrows .arrow-left label[for="input-testimonial4"],
input[name="testimonial"]:nth-child(1):checked~.testimonials-arrows .arrow-right label[for="input-testimonial2"],
input[name="testimonial"]:nth-child(2):checked~.testimonials-arrows .arrow-left label[for="input-testimonial1"],
input[name="testimonial"]:nth-child(2):checked~.testimonials-arrows .arrow-right label[for="input-testimonial3"],
input[name="testimonial"]:nth-child(3):checked~.testimonials-arrows .arrow-left label[for="input-testimonial2"],
input[name="testimonial"]:nth-child(3):checked~.testimonials-arrows .arrow-right label[for="input-testimonial4"],
input[name="testimonial"]:nth-child(4):checked~.testimonials-arrows .arrow-left label[for="input-testimonial3"],
input[name="testimonial"]:nth-child(4):checked~.testimonials-arrows .arrow-right label[for="input-testimonial1"] {
    z-index: 1;
}
.testimonial:nth-child(1) .photo-author {
    background-image: url( 'img/uip.png' );
}
.testimonial:nth-child(2) .photo-author {
    background-image: url( 'img/st.jpg' );
}
.testimonial:nth-child(3) .photo-author {
    background-image: url( 'img/tb.jpg' );
}
.testimonial:nth-child(4) .photo-author {
    background-image: url( 'img/st.jpg' );
}

.box .btn{
    border: 2px solid #63c5da;
    color: #63c5da;
}
.box .btn:hover{
    background: #63c5da;
    color: var(--second-color);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
/* products-page */

#products{
    background: url('img/water.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
#products .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#products .heading span{
    color: var(--main-color);
    text-align: center;
    font-size: 24px;
}
.product-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
}

.product-card{
    display: flex;
    align-items: center;
    width: 75w;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 50px 40px rgb(0 0 0 /8%);
    margin-top: 30px;
}
.product-card img{
    max-width: 280px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    

}
.product-card h3{
    color: rgb(0 0 0 / 90%);
}
.product-card p{
    color: rgb(0 0 0 / 70%)  
}

.main-section {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.main-section-header {
    margin-bottom: 50px;
    text-align: center;
}
.main-section-header h2 {
    color: var(--second-color);
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
}
.main-section-header .heading #para {
    color: var(--second-color);
    text-transform: lowercase;
}
.main-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact-info-section {
    width: 50%;
}
.contact-info-item {
    display: flex;
    margin-bottom: 30px;
}
.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
}
.contact-info-icon i {
    font-size: 20px;
    /* line-height: 70px; */
}
.contact-info-content {
    margin-left: 20px;
}
.contact-info-content h4 {
    color: var(--secondary-color);
    font-size: 1em;
    /* margin-bottom: 5px; */
}
.contact-info-content p {
    color: #FFF;
    font-size: 1.2em;
}
.contact-form-section {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.contact-form-section h2 {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #333;
}
.input-container {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.input-container input,
.input-container textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.input-container span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.input-container input:focus~span,
.input-container textarea:focus~span {
    color: var(--first-color);
    font-size: 12px;
    transform: translateY(-20px);
}
.input-container input[type="submit"] {
    width: 100%;
    background: var(--primary-color);
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid var(--first-color);
    transition: 0.5s;
}
.input-container input[type="submit"]:hover {
    background: #FFF;
    color: var(--primary-color);
}


.contact{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: #63c5da;
}
.delivery{
    background: #63c5da;
}
.delivery-img,
.about-img{
    flex: 1 1 21rem;
}
.delivery-text,
.about-text{
    flex: 1 1 21rem;
}
.delivery-text h2,
.about-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}
.delivery-text p ,
.about-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}
.contact{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: #63c5da;
}
.social a{
    font-size: 27px;
    margin: 0.5rem;
}
.social a .bx{
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
    
}.social a .bx:hover{
    background: var(--main-color);
}
.links{
    margin: 1rem 0 1rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}
.links a:hover{
    color: var(--main-color);
}
.contact p{
    text-align: center; 
}
.footer{
    background:var(--secondary-color);
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
}

.footer .top{
position: relative;
display: grid;
border-bottom: 2px solid rgb(255 255 255 / 20%);
padding-bottom: 20px;
}
.footer .top .links{
    margin-bottom: 30px;
    display: grid;
    gap:30px;
    grid-template-columns: repeat(1, 1fr);
}
.footer .top .links-column{
    display: grid;
    gap:10px;
    text-align: center;
}

.footer h2{
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:rgb(255 255 255 / 90%)
}
.footer p{
    margin:0
}

.footer .top .socials{
    position: absolute;
    left:50%;
    bottom: 10px;
    translate:-50% 0;
    display: flex;
    align-items: center;
    gap:18px;
    height: 56px;
}
.footer .top .socials > a{
    font-size: 24px;
}

.socials-column{
    :is(h2, p){
        display:none
    }
}
.footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap:8px;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 60px;
}
.legal{
    display: flex;
    flex-direction: column;
}
.legal > a{
    margin-right: 4px;

}
.legal,
.copyright{
    font-size: 16px;
}

.links a:hover{
    color: var(--main-color);
}
.contact p{
    text-align: center; 
}
@media(max-width: 1150px){
    header{
        padding: 18px 7%;
    }
    /* section{
        padding: 50px 7%;
    } */
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
}
@media(max-width: 991px){
    header{
        padding: 18px 4%;
    }
   
        .main-section {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .main-row {
            flex-direction: column;
        }
        .contact-info-section {
            margin-bottom: 40px;
            width: 100%;
        }
        .contact-form-section {
            width: 100%;
        }
        body{
        overflow-x: hidden;
    }
    
    section{
        padding: 50px 4%;
    }
    
}
@media(max-width: 768px){
    body{
        overflow-x: hidden;
    }
    header{
        padding: 11px 4%;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: center; 
    }
    
   
}
    .navbar.active{
        top: 100%;  
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
    }
    .home-text span{
        font-size: 0.9rem;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .home-text h2{
        font-size: 1.2rem;
    }

@media (max-width: 768px){
    .p-card{
        padding: 30px 20px;
        width:100%;
        text-align: center;
        flex-direction: column;
        height: auto;
        margin-top: 100px;
        
    }
    .p-card h2{
        font-size: 30px;
    }
    .p-card img{
        margin:-100px 0 30px 0;
        width: 100%;
        height: auto;
       
    }
    .p-card .stats var{
        min-width: 90px;
    }
    .p-card button{
        min-width: 160px;
    }
   /* about */
   

    /* .p-card img {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    } */

    /* .p-card .buttons {
        flex-direction: column;
    } */
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    body{
        overflow-x: hidden;
    }
    .home-text{
        padding-top: inherit;
    }
    .shop-container .box{
        margin-top: 6rem;
    }
    .heading h1{
        font-size: 1.5rem;
    }
    .heading span{
        font-size: 0.9rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 10px;
        height: auto;
        
    }
    .card{
        width:100%;
        margin: 0 0 20px 0;
        align-items: center;
        justify-content: center;
    }
    .card.heading h1 {
        font-size: 1em; 
      }
      .main {
        height: auto;
      }
    
      .testimonials {
        margin: 20px 10px; 
      }
    
      .testimonial {
        padding: 20px 14px 10px 14px; 
        margin: 0 15px;
      }
    
      .testimonial-text {
        font-size: 16px; 
        line-height: 22px;
        
      }
    
      .testimonial-author {
        font-size: 12px; 
      }
    
      .testimonials-inner {
        min-height: auto; 
      }
      body{
        overflow-x: hidden;
      }
    
    } 

/* 
@media (max-width: 640px){
    .footer{
        margin: 0 auto;
        max-width: 580px;
        padding: 0;
    }
    .footer .top .socials{
        position: static;
    }
    .footer .bottom{
        justify-content: flex-start;
        
    }
    .socials-column
    :is(h2, p){
        display: block;
    }
    body{
    overflow-x: hidden;
}
}
@media (max-width: 400px){
    .links-column{
        text-align: left;
    }
    .footer .top .links{
        grid-template-columns: repeat(2, 1fr);
        margin-right: 50px;
    }
    .footer .top .socials{
        left: 0;
        translate: 0;
    }
    .footer .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction:row;
        gap:20px;
        text-align: left;
    }

}


@media (max-width: 360px){
    .links{
        display: flex;
        flex-direction: column;
        
    }
}    */